<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Church Attendance App</title>
    <link rel="stylesheet" href="/css/style.css"> </head>
<body>
    <nav>
        <a href="/">Dashboard</a> | 
        <a href="/members">Members</a> | 
        <a href="/services/add">New Service</a>
         <a href="/reports/lapsed-members">Lapsed Report</a>
    </nav>
    <main>
